<h1>My tasks</h1>
<% @tasks.each do |task| %>
<% task.completed ? done = "✅" : done = "⭕️" %>
<p> <%= done %> <%= link_to task.title, task_path(task) %> </p>
<% end %>

<p> <%= link_to "+ add a task", new_path %> </p>
